<a href="https://colab.research.google.com/github/elsaspoor/first/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [5]:
# code here
mycode = 0
while mycode >= 20:
  if (mycode) == 0:
print("even")
else:
  print(odd)
print(mycode + 1)

IndentationError: ignored

## For-Loops with Lists

In [6]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [13]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]
for list in mylist:
  if list = '-4', '-242':
    break
  print(list)

SyntaxError: ignored

In [14]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]
for list in mylist:
  if list = '-4', '-242':
    print(4, 242)
    else:
      print("no negatives")

SyntaxError: ignored

In [15]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]
for list in my list
if list = mylist > 20, mylist < 40

SyntaxError: ignored

## For-Loops with Dictionaries

In [16]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [17]:
# Write a command to print out all the keys of this dict
capitals.keys()

dict_keys(['United States', 'Italy', 'England', 'Thailand', 'Brazil'])

In [20]:
# Write a command to print out all the values of this dict
capitals.values()

dict_values(['Washington DC', 'Rome', 'London', 'Bangkok', 'Brasilia'])

In [21]:
# Write a command to print all the keys and values for this dict

for key, value in capitals.items():
  print(key)
  print(value)

United States
Washington DC
Italy
Rome
England
London
Thailand
Bangkok
Brazil
Brasilia

In [23]:
# Write a command to print only the first three values and NOTHING more.

capitals.values(3)

TypeError: ignored