<a href="https://colab.research.google.com/github/elsaspoor/first/blob/main/homework/week-13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 13

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL to your notebook for review.

## 1. Change Runtime to R (1 pt)

Change the runtime of this notebook to R. You can verify that you are running R by displaying the current version you are running. Run the cell below and show the output.

In [1]:
version

               _
platform       x86_64-pc-linux-gnu
arch           x86_64
os             linux-gnu
system         x86_64, linux-gnu
status
major          4
minor          3.2
year           2023
month          10
day            31
svn rev        85441
language       R
version.string R version 4.3.2 (2023-10-31)
nickname       Eye Holes

## 2. Create Vectors (2 pts)

Create two vectors in the cells below, according to the prompts given.

In [2]:
# create a vector with 7 integer values. Assign it to a variable named "my_integers"
my_integers <- c(1, 2, 3, 4, 5, 6, 7)

In [1]:

# Using the variables given above, assign three new variables the following calculated values:
#
# 1. Your first variable should be assigned the calculated value of var2 divided by var1.
# 2. Your second variable should be assigned the calculated value of var2 cubed times var3.
# 3. Your third variable should be assigned the calculated value of var4 integer divided by var3.
#
# Next, create an array populated by your three variables. Assign the array to a new variable named "my_calculated_values"


var1 = 8
var2 = 4
var3 = 12
var4 = 25

a <- var1/var2
b <- (var2^3)*var3
c <- var4/var3

my_calculated_values <- c(a, b, c)
my_calculated_values

[1]   2.000000 768.000000   2.083333

## 3. Vector Indexes (3 pts)

In the cell below, create a vector that starts with the integer 4, that increments by counts of 3 all the way to 28.

Assign the vector to a variable name.

In [7]:
x <- seq(4, 28, by=3)
x

[1]  4  7 10 13 16 19 22 25 28

Next, show how to display this vector with the 3 index removed.

In [8]:
x <- x[! x %in% x[3]]
x

[1]  4  7 13 16 19 22 25 28

Finally, show how to delete the 4th, 5th, and 7th indexes from the vector and update the vector so they are forever removed from the vector.

Hint: there is a fairly simple way to do this in one line, such that you don't have to run a separate command for each removal.

In [10]:
x <- x[! x %in% c(x[4],x[5],x[7])]
x

[1]  4  7 13 22 28

## 4. Create a Data Frame (3 pts)

In the cell below create a data frame with 10 observations (rows) and 5 variables (columns) each. This data frame will describe some of your favorite musical performers. You can use real or fictitious data to populate your data frame.

Variables:
  - `artist` - Artist or band name
  - `category` - Rock, Pop, Country, Hip-hop, Jazz, Classical, Soul, Other. (Try to distribute your selections here)
  - `size` - (number of members, 1-?)
  - `start` - Debut year of artist.
  - `grammy` - Grammmy winner? `TRUE` | `FALSE`

First create vectors for each variable populated with your own performer data. Then create a data frame from these vectors (be sure to assign column names too) and assign it to a named variable such as `df`.

In [17]:
artist <- c("Taylor Swift", "Jordan Davis", "Carrie Underwood",
           "Zac Brown Band", "Sam Hunt", "Thomas Rhett",
           "Morgan Wallen", "Russel Dickerson", "Dylan Scott", "Blake Shelton")
category <- c("Country", "Country", "Country", "Rock", "Country", "Rock", "Country", "Hip-hop", "Rock", "Country")
size <- c(1, 1, 1, 5, 1, 1, 1, 1, 1, 1)
start <- c(2000, 2001, 2001, 1999, 2005, 2004, 2007, 2008, 2004, 2000)
grammy <- c(TRUE, FALSE, TRUE, FALSE, FALSE, FALSE, FALSE, TRUE, FALSE, TRUE)

df <- data.frame(Artist = artist, Category = category, Size = size, Start = start, Grammy = grammy)
df

   Artist           Category Size Start Grammy
1  Taylor Swift     Country  1    2000   TRUE
2  Jordan Davis     Country  1    2001  FALSE
3  Carrie Underwood Country  1    2001   TRUE
4  Zac Brown Band   Rock     5    1999  FALSE
5  Sam Hunt         Country  1    2005  FALSE
6  Thomas Rhett     Rock     1    2004  FALSE
7  Morgan Wallen    Country  1    2007  FALSE
8  Russel Dickerson Hip-hop  1    2008   TRUE
9  Dylan Scott      Rock     1    2004  FALSE
10 Blake Shelton    Country  1    2000   TRUE

## 5. Filter/Query a Data Frame (2 pts)

Use the data frame you created above and show how to perform the following queries.

In [12]:
# Display the first 3 records and only the `artist`, `category` and `grammy` columns for each.
df[1:3, c('Artist', 'Category', 'Grammy')]

  Artist           Category Grammy
1 Taylor Swift     Country   TRUE
2 Jordan Davis     Country  FALSE
3 Carrie Underwood Country   TRUE

In [19]:
# Display the records for just one musical category, such as only Rock bands or only Hip-hop bands.
df_rock<- subset(df, Category == "Rock")
df_rock

  Artist         Category Size Start Grammy
4 Zac Brown Band Rock     5    1999  FALSE
6 Thomas Rhett   Rock     1    2004  FALSE
9 Dylan Scott    Rock     1    2004  FALSE

*italicized text*## Query a Data Frame using `tidyverse` (4 pts)

1. Show how to load the library.
2. Show how to glimpse basic features of the `starwars` data table.
3. Create a query using tidyverse that retrieves the following data:
    - Selects only these columns: `name`, `height`, `sex`, `species`.
    - Filters for all species that are NOT Human.
    - Arranges the resulting data in order by name.

Show your output in a data frame.

In [21]:
install.packages("tidyverse", dependencies=TRUE)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘lazyeval’, ‘rex’, ‘Rcpp’, ‘covr’, ‘feather’, ‘mockr’

In [25]:
library(tidyverse)
library(rwars)

ERROR: ignored